@import "theme1.css";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family: Noto Sans SC;
  margin: 0;
  padding: 0;
  font-weight: 100;
  z-index: 5;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family: "Noto Sans SC",Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;}
small{font-size:10px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: white;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}



head{
    width: 0%;
    height: 0%;
    margin: 0px;
    padding: 0px;
}
html,body{
    padding: 0px;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
img{
  max-width:100%;
}
p>img{
  min-width:51%;

}


.left{
    background-color: var(--lefthalfcolor);
    width: 25% ;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;

  direction: rtl;
}
.left::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
.left::-webkit-scrollbar-track {
    background: transparent;      /* color of the tracking area */
}
.left::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--lefthalfcolor);  /* creates padding around scroll thumb */
}
.leftcontent{
    padding: 15%;
    direction: ltr;
}



.right{
    background-color: var(--righthalfcolor);
    width: 80%;
    height:100%;

    overflow-y: auto;
    overflow-x: hidden;
}
.right::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
.right::-webkit-scrollbar-track {
    background: transparent;      /* color of the tracking area */
  }
.right::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--righthalfcolor);  /* creates padding around scroll thumb */
}
.rightcontent{
  
    font-size:19px;
    line-height: 1.7em;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    /* white-space: pre-wrap; */
}



.bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: start;
}




.folder{
     margin-top: 50px;margin-bottom: 50px;
}
.foldername{
    cursor:pointer;
    color:white; font-size: 30px; margin-bottom:20px;
    font-weight:500;
}
.foldername:hover{
  font-weight:800 !important;
}
.file{
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.file:hover{
    font-weight:600 !important;
}
.file::after{
    display:block;
    content:attr(title);
    font-weight:bold;
    visibility:hidden;
    height:1px;
    color:transparent;
    margin-bottom:-1px;
    overflow:hidden;
  }
  #rowseperateline{
    height:2px;
    width:100%;
    margin-bottom:10px;
    background: linear-gradient(left,rgb(204, 204, 204)  0%,rgb(204, 204, 204) 15%,var(--menucolor) 100%);
    background: -webkit-linear-gradient(left,rgb(204, 204, 204)  0%,rgb(195, 195, 195) 15%,var(--menucolor) 100%);
    
}

#filecontainer{
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:start;
}









/* markdown1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  padding-bottom: 0.4em;
  padding-top: 0.8em;
  font-size: 1.8em;
  line-height: 1.3;
  border-bottom: 1px solid rgb(255, 255, 255);
}

h2 {
  font-size: 1.5em;
  line-height: 1.225;
  padding-top:0.7em;
}

h3 {
  padding-top:0.7em;
  font-size: 1.4em;
  line-height: 1.43;
}

h4 {
  padding-top:0.7em;
  font-size: 1.2em;
}

h5 {
  padding-top:0.7em;
  font-size: 1em;
}

h6 {
  padding-top:0.7em;
  font-size: 1em;
  color: var(--light-trait-300);
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 2em 0;
  line-height: 1.7;
}

li > ol,
li > ul {
  margin: 0 0;
}

hr {
  padding: 0;
  margin: 16px 0;
  border-style: inset;
  border-width: 1px;
  color: white;
  overflow: hidden;
  box-sizing: content-box;
}

sup.md-footnote {
  background-color: var(--light-trait-400);
  color: var(--light-trait-100);
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}



/*markdown 代码样式*/
tt, code, kbd, samp {
  font-family: consolas;
  }
  .prettyprint, pre.prettyprint {
  background-color:#272822;
  border:1px solid #272822;
  overflow: hidden;
  margin:10px0;
  font-family:Helvetica,"Hiragino Sans GB","微软雅黑","Microsoft YaHei UI",SimSun,SimHei, arial, sans-serif;
  }
  .prettyprint.linenums, pre.prettyprint.linenums {
  -webkit-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  -moz-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  }
  .prettyprint.linenums ol, pre.prettyprint.linenums ol {
  padding-left:28px!important;
  margin:0000px;
  }
  .prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
  padding-left:12px;
  color:#bebec5;
  line-height:20px;
  margin-left:0;
  margin:5px;
  list-style:decimal;
  }
  blockquote, q {
    border-left: 2px solid whitesmoke;
    padding: 0 10px;
    color: whitesmoke;
    quotes: none;
    margin-left: 1em;
  }
  
  blockquote::before, blockquote::after, q::before, q::after {
    content: none;
  }
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: var(--codecolor);
    border: 1px solid var(--codecolor);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}




/*** STYLES ***/