@import "theme1.css";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family: Noto Sans SC;
  margin: 0;
  padding: 0;
  font-weight: 100;
  z-index: 5;}
address,cite,dfn,em,var{font-style:italic ;}
code,kbd,pre,samp{font-family: "Noto Sans SC",Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;}
small{font-size:10px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: white;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html,body{
    padding: 0px;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


#bg{
    font-size:25px;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    right:0px;
    top:0px;
    z-index:10;
    /* cursor: pointer; */
    background:rgb(107, 106, 106);
    color:rgb(255, 255, 255);
    -webkit-mask: url("/public/png/nature-sprite.png");
    mask: url("/public/png/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    -webkit-animation: ani2 0.5s  forwards;
    animation: ani2 0.5s  forwards;
}

 
@keyframes ani2 {
    0%   {background: white;}
    100% {background: var(--righthalfcolor);}
}

#myform{
  margin-top:-30px;
    height:auto;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

#name2{
    text-align:center;
    border-radius: 5px;
    outline:0px;
    width:350px;
    margin-bottom:7px;
}
#name1{
    margin-top:20px;
    text-align:center;
    border-radius: 5px;
    outline:0px;
    width:350px;

}

#container{
    width:100%;
    height:100%;
    color:rgba(0, 0, 0, 0);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    outline:0px;
}
#btn{
    border:1px solid black;
    text-align:center;
    width:100px;
    padding-bottom:5px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 4;
    border-radius: 50px;
}
#btn:before {
    content: '';
    background: linear-gradient(45deg, #929292, #5e5d5d, #777777, #5c5c5c, #555555);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btn:active:after {
    background: transparent;
}

#btn:hover:before {
    opacity: 1;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

.wrapper {
  position:fixed;
  bottom: 10px;
  color: #fff;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 100%;
  animation: typing 5s steps(55), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 15px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.topleftpart{
  font-size:18px;
  padding:10px;
  position:fixed;
  left:0px;
  top:0px;
  font-family: monospace;
  /* font-size: 15px; */
  height:auto;
  width:auto;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:flex-start;
}
.leftbtn{
    padding:5px;
    border: none;
    outline: none;
    color: rgb(201, 199, 199);
    background: transparent;
    cursor: pointer;
}