@import "theme1.css";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family: Noto Sans SC;
  margin: 0;
  padding: 0;
  font-weight: 100;
  z-index: 5;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family: "Noto Sans SC",Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;}
small{font-size:10px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: white;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}



#bg{
    font-size:25px;
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    right:0px;
    top:0px;
    z-index:10;
    cursor: pointer;
    background:rgb(107, 106, 106);
    color:rgb(255, 255, 255);
    -webkit-mask: url("/public/png/nature-sprite.png");
    mask: url("/public/png/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    -webkit-animation: ani2 0.5s  forwards;
    animation: ani2 0.5s  forwards;
}

 
@keyframes ani2 {
    0%   {background: white;}
    100% {background: var(--righthalfcolor);}
}

#myform{
    height:auto;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

#name2{
    text-align:center;
    border-radius: 5px;
    outline:0px;
    width:350px;
    margin-bottom:15px;
}
#name1{
    margin-top:20px;
    text-align:center;
    border-radius: 5px;
    outline:0px;
    width:350px;

}

#container{
    width:100%;
    height:100%;
    color:rgba(0, 0, 0, 0);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    outline:0px;
}
#btn{
    text-align:center;
    width:150px;
    padding-top:5px;
    padding-bottom:5px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 4;
    border-radius: 20px;
    animation: glowing 30s linear infinite;
}
#btn:before {
    content: '';
    background: linear-gradient(45deg, #929292, #5e5d5d, #777777, #5c5c5c, #555555);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(15px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btn:active:after {
    background: transparent;
}

#btn:hover:before {
    opacity: 1;
}



@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}