body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"Microsoft yahei";}
body,button,input,select,textarea{font: tahoma,arial,\5b8b\4f53;}
/* h1,h2,h3,h4,h5,h6{font-size:100%;} */
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:10px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: white;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}



head{
    width: 0%;
    height: 0%;
    margin: 0px;
    padding: 0px;
}
html,body{
    padding: 0px;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#topbar{
  height: 0%;
}
#bottombar{
  height: 0%;
}
#bg{
    padding: 0px;
    display: flex;
    flex-direction: row;
  
    height:100%;
    width: 100%;
    border: none;
    margin: 0px;
    
}
#left{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0px;
    width: 50%;
    height:calc(100%-50px);
    /* display:flex;
    flex-direction: column;
    justify-content: start; */
    overflow: auto;

}
#left::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
#left::-webkit-scrollbar-track {
  background: transparent;    /* color of the tracking area */
}
#left::-webkit-scrollbar-thumb {
  background-color: rgb(70,70,70);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}
#right{
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0px;
    width:  50%;
    height:calc(100%-40px);
    background-color: rgb(70,70,70);
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow:auto;
}
#right::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
#right::-webkit-scrollbar-track {
  background: transparent;      /* color of the tracking area */
}
#right::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(70,70,70);  /* creates padding around scroll thumb */
}
#locked,#notlocked{
  position: fixed;
  right: 22px;
  bottom: 15px;
  height: 2.5em;
  width: 2.5em;
}
#notlocked{
  right:16px;
  bottom: 15px;
  height: 2.5em;
  width: 2.6em;
}
#questionxD{
  position: fixed;
  right: 22px;
  top: 13px;
  height: 2em;
  width: 2.0em;
}
#md-area {
  line-height: 1.7em;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 45%;
    font-size: 18px;
    outline: none;
    resize: none;
    overflow: hidden;
}

#show-area {
  line-height: 1.7em;
    margin: 0px;
    font-size:18px;
    width: 100%;
    height: 100%;
    color:white;
    word-break: break-all;
}

#folderxD{
  display:flex;
  flex-direction:column;
  justify-content: start;
  align-items: center;
  margin: 1em;
}
#foldernamexD{
  color: rgb(56, 56, 56) !important;
  font-size:2.0em !important;
  cursor: pointer;
}
#filexD{
  color: rgb(85, 85, 85) !important;
  cursor: pointer;
}
[contenteditable]:focus{outline:none;}
#downarrow{
  position: absolute;
  right: 51.5%;
  top: 15px;
  height: 1.5em;
  width: 1.9em;
  z-index: 8;
}
#uparrow{
  position: absolute;
  right: 51.5%;
  top: 15px;
  height: 1.5em;
  width: 1.9em;
  z-index: 20;
}


#pop,#questionpop{
  height: 100%;
  width: 100%;
  z-index:10;
  position:absolute;
  /**透明层*/
  background-color:#000;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#menuxD{
  position: fixed;
  border-top-left-radius: 50px;
  border-top-right-radius	: 50px;
  border-bottom-left-radius	: 50px;
  border-bottom-right-radius:50px;
  height: 70%;
  width: 30%;
  background-color: white;
  z-index: 12;
  -moz-box-shadow: 10px 10px 5px rgb(0,0,0); /* 老的 Firefox */
  box-shadow: 10px 10px 5px rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}
#helpmenu{
  position: fixed;
  border-radius: 50px;
  height: 70%;
  width: 30%;
  background-color: white;
  z-index: 12; 
  -moz-box-shadow: 10px 10px 5px rgb(0,0,0); /* 老的 Firefox */
  box-shadow: 10px 10px 5px rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}


#avator{
  height: 6em;
  width: 6em;
  z-index: 14;
  position: absolute;
  top:40px;
  right: 30px;
  border-radius: 2em;

}
#avatorbg{
  height: 6em;
  width: 6em;
  z-index: 13;
  position: absolute;
  top:70px;
  right: 120px;
  border-radius: 2em;

}
/* .block {
  width: 200px;
  height: 200px;
  cursor: pointer;
  
  
  &-in {
    background: brown;
    height: 100%;
    transition: 0.8s;
  }
  
  
} */
.avaanim{
  animation: myfirst 4s 1 ease;
  -moz-animation:myfirst 4s 1 ease;
  -webkit-animation: myfirst 4s 1 ease; /* Safari 与 Chrome */
}
  

@keyframes myfirst
{
  0%   {	transform:rotateY(0deg);}
  50%   {	transform:rotateY(30deg);}
  100%   {	transform:rotateY(0deg);}
}



#menutextarea,#helptext{
  color: rgb(70, 70, 70);
  height: 100%;
  width:97%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border:solid 1px black; */
  overflow: auto;
}
#menutextarea::-webkit-scrollbar,#helptext::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  height: 50px;
}
#menutextarea::-webkit-scrollbar-track,#helptext::-webkit-scrollbar-track {
  background: transparent;      /* color of the tracking area */
}
#menutextarea::-webkit-scrollbar-thumb,#helptext::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}
#menutextarea::-webkit-scrollbar-track-piece,#helptext::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 50px; 
}

#menutextarea::-webkit-scrollbar-track-piece,#helptext::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 50px;
}

/* markdown1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  padding-bottom: 0.4em;
  padding-top: 0.8em;
  font-size: 1.8em;
  line-height: 1.3;
  border-bottom: 1px solid rgb(255, 255, 255);
}

h2 {
  font-size: 1.5em;
  line-height: 1.225;
  padding-top:0.7em;
}

h3 {
  padding-top:0.7em;
  font-size: 1.4em;
  line-height: 1.43;
}

h4 {
  padding-top:0.7em;
  font-size: 1.2em;
}

h5 {
  padding-top:0.7em;
  font-size: 1em;
}

h6 {
  padding-top:0.7em;
  font-size: 1em;
  color: var(--light-trait-300);
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 1em 0;
  line-height: 1.7;
}

li > ol,
li > ul {
  margin: 0 0;
}

hr {
  padding: 0;
  margin: 16px 0;
  border-style: inset;
  border-width: 1px;
  color: white;
  overflow: hidden;
  box-sizing: content-box;
}

sup.md-footnote {
  background-color: var(--light-trait-400);
  color: var(--light-trait-100);
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}



/*markdown 代码样式*/
tt, code, kbd, samp {
  font-family: consolas;
  }
  .prettyprint, pre.prettyprint {
  background-color:#272822;
  border:1px solid #272822;
  overflow: hidden;
  margin:10px0;
  font-family:Helvetica,"Hiragino Sans GB","微软雅黑","Microsoft YaHei UI",SimSun,SimHei, arial, sans-serif;
  }
  .prettyprint.linenums, pre.prettyprint.linenums {
  -webkit-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  -moz-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  }
  .prettyprint.linenums ol, pre.prettyprint.linenums ol {
  padding-left:28px!important;
  margin:0000px;
  }
  .prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
  padding-left:12px;
  color:#bebec5;
  line-height:20px;
  margin-left:0;
  margin:5px;
  list-style:decimal;
  }
  blockquote, q {
    border-left: 2px solid whitesmoke;
    padding: 0 10px;
    color: whitesmoke;
    quotes: none;
    margin-left: 1em;
  }
  
  blockquote::before, blockquote::after, q::before, q::after {
    content: none;
  }
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: rgb(50,50,50);
    border: 1px solid rgb(50,50,50);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}


.alert {
	display: none;
	position: fixed;
	top: 45%;
	left: 50%;
	min-width: 250px;
	max-width: 500px;
	transform: translate(-50%,-50%);
	z-index: 99999;
	text-align: center;
	padding: 15px;
	border-radius: 3px;
}
 
.alert-success {
    color: white;
    background-color: #757775;
    border-color: #757775;
}
 
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
 
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
 
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.custom-context-menu{
    display : flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
    position:fixed;
    z-index:19;
    background-color: rgba(80, 79, 79, 0.657);
    border-radius: 10px;
    padding-left: 15px;
    padding-top:12px;
    padding-bottom:12px;
    
}
#icon{
  padding-right: 15px;
  height:18px;
  width:18px;
}
.newfile{
   display:none;
   height:15px !important;
   width:15px !important;
   padding-left:3px;

}
.newfolder{   
   display:none;

}
.upload{  
  height:20px !important;
  width:22px !important;
   display:none;

}
.trash{
    display:none;
}