
   

  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Dosis:200,300,400);
  @import "theme1.css";

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    -webkit-background-size: cover;
    background-size: cover;
  }
   
  
  .wrap {
    margin: auto;
    padding: 0;
    display: block;
    position: absolute;  
    width: 100%;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #fafafa;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .tabs {
    margin: 0;
    padding: 0;  
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    background: #111;
  }
  
  .tab-height {
    height: 500px/ 4;
    line-height: 500px/ 4;
  }
  
  .tab {display: none;}
  
  .button {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25%;
    margin: 0;
    padding: 0;
    /* display: block; */
    position: relative;
    width: 8%;
    text-align: center;
    color:var(--searchbarcolor);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .button:hover {
    background:var(--lefthalfcolor);
    color: var(--iconcolor);
  }
  
  .button:active {
    color: #ff58a5;
  }
  
  .display {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 92%;
    height: 100%;
    background: var(--righthalfcolor) !important;
    overflow: hidden;
    color:var(--iconcolor);
  }
  
  .title {
    font-weight: 300;
    font-size: 2em;
    margin-top: 70px ;
    margin-bottom: 30px;
    padding: 0;
    display: block;
    position: relative;
    width: 90%;
    text-align: start;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  p {
    margin: 30px auto;
    padding: 0;
    display: block;
    position: relative;
    width: 90%;
    height: auto;
    line-height: 20px;
    text-align: center;
  }
  
  #tab--1:checked ~ #button--1,
  #tab--2:checked ~ #button--2,
  #tab--3:checked ~ #button--3,
  #tab--4:checked ~ #button--4 {
    background: var(--righthalfcolor);;
    color: white;
  }
  #tab--1:checked ~ #display--1,
  #tab--2:checked ~ #display--2,
  #tab--3:checked ~ #display--3,
  #tab--4:checked ~ #display--4 {
    display: block;
  }
  
.grid{
  
  width: 20%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
 .databaseUnit{    
  position:relative;
   cursor:pointer;
   box-shadow: 2px 3px 5px rgb(10 10 10);
   text-align: center;
   width:80%;
   height:70%;
   border-radius: 10%;
   margin: 20px;
   background-color:var(--menucolor);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   -ms-transition: all 0.4s;
   -o-transition: all 0.4s;
   transition: all 0.4s;
   
   
 }

 .databaseUnit:hover{
  background:var(--lefthalfcolor)
 }
.textUnit{
  /* width: 70%; */
  font-size:1.2em;
  height:auto;
  overflow: hidden;
}
[contenteditable]:focus{outline:none;}
.databaseContainer{
  /* border:1px black solid; */
  width:90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items:flex-start;
  color: white;
}

.container{
  width: 100%;
  height:100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
.container::-webkit-scrollbar-track {
  background: transparent;      /* color of the tracking area */
}
.container::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solidvar(--righthalfcolor);  /* creates padding around scroll thumb */
}
.chosen{
  background-color:var(--iconcolor) !important;
  color:var(--menucolor) !important;
  
  box-shadow: 7px 8px 5px rgb(10 10 10) !important;
  font-weight: 600 !important;
}


.quit{
  color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
}

/* question */
#backarea{
  width: 35%;
   height: 100%;
   z-index: 12;
   position:fixed; 
   right :0px;
}
#questionxD{
  /* z-index: 99; */
  position: fixed;
  right: 25px;
  top: 13px;
  height: 30px;
  width: 31px;
}
#pop,#questionpop{
  height: 100%;
  width: 100%;
  z-index:10;
  position:absolute;
  /**透明层*/
  background:var(--modolcolor);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#helpmenu{
  position: fixed;
  border-radius: 50px;
  height: 70%;
  width: 30%;
  /* background-color: var(--helpcolor); */
  z-index: 12; 
  -moz-box-shadow: 10px 10px 5px rgb(0,0,0); /* 老的 Firefox */
  box-shadow: 10px 10px 5px rgb(0,0,0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;

  background-image: linear-gradient(to right,#1e1e1e, var(--helpcolor), var(--helpcolor), var(--helpcolor), var(--helpcolor), var(--helpcolor),#1e1e1e);
}
#helpmenuleft{
  width:20%;
  /* border:1px black solid; */
  height:100%;


}
#mathjaxhelp{
  display:none;
}
#menuhelp{
  display:none;
}
#helpmenumid{
  color:var(--helpfontcolor) !important;
  width:60%;
  /* border:1px black solid; */
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;

}
#helpmenuright{

  width:20%;
  /* border:1px black solid; */
  height:100%;
  
}
/* question */
/* context */
.custom-context-menu{
  flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 19;
    background-color: rgba(80, 79, 79, 0);
    border-radius: 10px;
    padding-left: 2px;
    padding-top: 7px;
    /* padding-bottom: 12px; */
    width: 100px;
    
}
#icon{
  margin-right: 5px;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  /* display:flex; */
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
/* icon & newfile表示外面的container */
/* newfileimg表示里面的图片 */
.newfile{
   display:none;
}
.newfileimg{
  margin-bottom: 0.3px;
  margin-left: 3px;
  height:15px !important;
  width:15px !important;
}
.newfolder{   
   display:none;

}
.newfolderimg{
  
  height: 16px !important;
  width: 17px !important;
  margin-bottom: 1px;
}

.upload{  
   display:none;
}
.uploadimg{
  margin-bottom: 1px;
  height: 16px !important;
  width: 18px !important;
}



.trash{
    display:none;
}
.trashimg{
  margin-bottom: 1px;
  height: 16px !important;
  width: 18px !important;
}

.rename{
  display:none;
}
.renameimg{
  margin-bottom: 0.3px;
  margin-right: 1px;
 height:17px !important;
 width:17px !important;
}
.foldall{
  display:none;
}
.foldallimg{
 height:19px !important;
 width:19px !important;
}
.unfoldall{
  display:none;
}
.unfoldallimg{
 height:19px !important;
 width:19px !important;
}


.multippl{
  display:none;
}
.multipplimg{
 height:20px !important;
 width:20px !important;
}

.blog{
  display:none;
}
.blogimg{
 height:20px !important;
 width:20px !important;
}


.soloppl{
  display:none;
  margin-left:1px;
}
.solopplimg{
 height:15px !important;
 width:15px !important;
}

.cntr-innr {
  display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

/* context */

.loading{
  display:none;
  color:white;
   position: fixed;
   top:5px;
   right:5px;
   /* transform: translate(-50%,-50%); */
   z-index: 99999;

 }

 .dbinfo{
   /* margin-top:4%; */
   font-size:5px !important;
   -webkit-transform:scale(0.8);
   transform:scale(0.8);
 }
 #pathUnit{
   /* margin-top:5%; */
 }

 .infocontainer{
   position: absolute;
   bottom: 2%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
 }