:root {
    --lefthalfcolor:rgb(49, 49, 49);
    --righthalfcolor:rgb(60,60,60);
    --modolcolor: rgba(41, 41, 41, 0.356);
    --menucolor:rgb(39, 39, 39);
    --helpcolor:rgb(39, 39, 39);
    --helpfontcolor:rgb(255,255,255);
    --alertcolor:rgb(37, 37, 37);
}