body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"Microsoft yahei";}
body,button,input,select,textarea{font: tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}


head{
    width: 0%;
    height: 0%;
    margin: 0px;
    padding: 0px;
}
html,body{
    padding: 0px;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#topbar{
  height: 0%;
}
#bottombar{
  height: 0%;
}
#bg{
    padding: 0px;
    display: flex;
    flex-direction: row;
  
    height:100%;
    width: 100%;
    border: none;
    margin: 0px;
    
}
#left{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0px;
    width: 50%;
    height:calc(100%-30px);
    /* display:flex;
    flex-direction: column;
    justify-content: start; */
    overflow: auto;

}
#left::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
#left::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
#left::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}
#right{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0px;
    width:  50%;
    height:calc(100%-20px);
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow:auto;
}
#right::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
#right::-webkit-scrollbar-track {
  background: grey;        /* color of the tracking area */
}
#right::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid grey;  /* creates padding around scroll thumb */
}
#locked,#notlocked{
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 3em;
  width: 3em;
}
#notlocked{
  right:7px;
  bottom: 15px;
  width: 3.2em;
}
#md-area {
  line-height: 1.7em;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 45%;
    font-size: 22px;
    outline: none;
    resize: none;
    overflow: hidden;
}

#show-area {
  line-height: 1.7em;
    margin: 0px;
    font-size: 22px;
    width: 100%;
    height: 100%;
    color:white;
    word-break: break-all;
}

#downarrow{
  position: absolute;
  right: 51.5%;
  top: 15px;
  height: 1.5em;
  width: 1.9em;
}
/* markdown1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2.2em;
  line-height: 1.3;
  border-bottom: 1px solid var(--light-trait-100);
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid var(--light-trait-100);
}

h3 {
  font-size: 1.4em;
  line-height: 1.43;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: var(--light-trait-300);
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.8em 0;
}

li > ol,
li > ul {
  margin: 0 0;
}

hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: var(--light-trait-100);
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

sup.md-footnote {
  background-color: var(--light-trait-400);
  color: var(--light-trait-100);
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}



/*markdown 代码样式*/
tt, code, kbd, samp {
  font-family: consolas;
  }
  .prettyprint, pre.prettyprint {
  background-color:#272822;
  border:1px solid #272822;
  overflow: hidden;
  margin:10px0;
  font-family:Helvetica,"Hiragino Sans GB","微软雅黑","Microsoft YaHei UI",SimSun,SimHei, arial, sans-serif;
  }
  .prettyprint.linenums, pre.prettyprint.linenums {
  -webkit-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  -moz-box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  box-shadow: inset 40px00#39382E, inset 41px 0 0 #464741;
  }
  .prettyprint.linenums ol, pre.prettyprint.linenums ol {
  padding-left:28px!important;
  margin:0000px;
  }
  .prettyprint.linenums ol li, pre.prettyprint.linenums ol li {
  padding-left:12px;
  color:#bebec5;
  line-height:20px;
  margin-left:0;
  margin:5px;
  list-style:decimal;
  }
  blockquote, q {
    border-left: 2px solid whitesmoke;
    padding: 0 10px;
    color: whitesmoke;
    quotes: none;
    margin-left: 1em;
  }
  
  blockquote::before, blockquote::after, q::before, q::after {
    content: none;
  }
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #696666;
    border: 1px solid #696666;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}

/*markdown 代码样式*/
/* markdown1 */


/* markdown2 */
/* html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

@keyframes squeezeBody {
    from { width: 100%; }
    to { width: calc(100% - 300px); }
}

@-webkit-keyframes squeezeBody {
    from { width: 100%; }
    to { width: calc(100% - 300px); }
}

@keyframes stretchBody {
    from { width: calc(100% - 300px); }
    to { width: 100%; }
}

@-webkit-keyframes stretchBody {
    from { width: calc(100% - 300px); }
    to { width: 100%; }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
}

h3 {
    border-bottom: 1px solid #ddd;
}

.serif {
    font-family: 'Old Standard TT', serif;
}

.top-bar {
    height: 45px;
    min-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.bars-lnk {
    color: #fff;
}

.bars-lnk i {
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}

.bars-lnk img {
    display: inline-block;
    margin-left: 10px;
    margin-top: -15px;
    margin-right: 15px;
    height: 35px;
}

.lateral-menu {
    background-color: #333;
    color: rgb(144, 144, 144);
    width: 300px;
    font-family: 'Open Sans', 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.lateral-menu label {
    color: rgb(144, 144, 144);
}

.lateral-menu-content {
    padding-left: 10px;
    height: 100%;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 16px;
}

.lateral-menu-content .title{
    padding-top: 15px;
    font-size: 2em;
    height: 45px;
}

.lateral-menu-content-inner {
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 10px;
    font-size: 0.9em;
}



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding-top: 65px;
}

.container>* {
    display: block;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100%;
}

.container textarea {
    resize: none;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    height: 97%;
    max-height: 97%;
    width: 45%;
}

#preview {
    height: 97%;
    max-height: 97%;
    border: 1px solid #eee;
    overflow-y: scroll;
    width: 55%;
    padding: 10px;
}

pre {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
    background-color: #696666;
    border: 1px solid #696666;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}


.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(51,51,51,0.5);
}

.modal-inner {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 225px;
    background-color: #fff;
    opacity: 1;
    z-index: 1000;
}

.modal-close-btn {
    float: right;
    display: inline-block;
    margin-right: 5px;
    color: #ff4336;
}

.modal-close-btn:hover {
    float: right;
    display: inline-block;
    margin-right: 5px;
    color: #8d0002;
}

.modal-topbar {
    clear: both;
    height: 25px;
}

.modal-inner .link-area {
    margin: 10px;
    height: 170px;

}

.modal-inner textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.version {
    color: white;
    font-size: 0.8em !important;
} */
